todo.md
News.md

.dvc/*
auth/*

**/.ipynb_checkpoints/**

.Rproj.user
medium links.md

Snippets/*

*.pdf
Tools/*/*.pdf
Books/Learning Spark: Lightning-Fast Data Analytics/.ipynb_checkpoints/Book-checkpoint.pdf

End-to-End Projects/Coursera Guided Projects/Build a Data Science Web App with Streamlit and Python/Motor_Vehicle_Collisions_-_Crashes.csv
Masters/AAA Exercices/Backpropagation/Week1.zip

**/*/credentials*.json

Masters/Cloud/TP2/*
Masters/Cloud/TP3/*
Masters/AAA Exercices/Bayes Network/R1.ipynb
Masters/AAA Exercices/Bayes Network/J1.ipynb
Masters/Cloud/repository
