# Basic Libraries
numpy==1.21.0
pandas==1.2.5

# Multi application Tools
## Machine Learning and Data Wrangling
pyspark==3.1.2
scikit_learn==0.24.2

# Notebooks 
jupyterlab==3.0.16
ipykernel==6.0.3

# Statistics
scipy==1.7.0

# Model evaluation
eli5==0.11.0
PDPbox==0.2.1 # Installs matplotlib-3.1.1
shap==0.39.0
statsmodels==0.12.2

# Visualization
matplotlib==3.4.2

# Misc
cloudpickle==1.6.0